body{
    background-color: #deb887!important;
}
.navbar-brand{
    font-size: 30px!important;
}
.table{
    text-align: center;
    font-size: 20px;
    margin-top: 25px!important;
}   
th,td{
    padding: 15px!important;
}
th{
    background-color: black;
    color: white;
}
h2{
    text-align: center!important;
}
.publish{
    padding: 7px;
    color: rgb(158, 158, 88);
    box-shadow: 0px 0px 5px 7px;
}
.publish:hover{
    text-decoration: none;
    box-shadow: 0px 3px 20px 0px;

}
.modify{
    padding: 7px;
    color: green;
    box-shadow: 0px 0px 5px 7px;
}
.modify:hover{
    text-decoration: none;
    box-shadow: 0px 3px 20px 0px;

}