*{
    margin: 0;
    padding: 0;
}
body{
    scroll-behavior: smooth;
    background-color: #deb887!important;
}
.admin_form{
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
}
.heading h1{
    text-align: center;
}
.admin_form input{
    font-size: 19px;
}
.navbar{
    height: 110px!important;
    font-size: 24px;
    font-weight: 500;
}
.navbar-brand{
    font-size: 36px!important;
    font-weight: 800;
    margin-right: 630px!important;
    font-family: cursive;
}
.heading{
    margin-top: 35px;
}
input[type='submit']{
    font-size: 22px;
}