*{
    margin: 0;
    padding: 0;
}
body{
    scroll-behavior: smooth;
    background-color: #deb887!important;
}
.navbar-brand{
    font-size: 25px!important;
    font-weight: 700!important;
}
.firstnav{
    margin-left: 715px;
}
.nav-item{
    font-size: 25px!important;
    font-weight: 700!important;
    color: white!important;
}
.body_content{
    margin-top: 75px;
    min-height: 500px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    box-shadow: 0px 0px 5px 7px #a52a2a;
}
.courses li{
    margin-left: 385px;
    margin-right: auto;
    text-align: start;
}